body {
    margin: 0;
    height: 200hv;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.carta {
    background-color: rgb(187, 228, 228);
    width: 400px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 15px 40px rgb(193, 110, 185);
    text-align: center;
    transition: transform 0.3s ease;
}